html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 3px solid white;
  background-color: white;
}